@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Rowdies:wght@300&display=swap');

body{
    margin: 0;
    background-color: peachpuff;
}

h1{
    font-size: 4rem;
    position: absolute;
    left: 1vw;
    font-family: "Oswald", sans-serif;
    text-decoration: underline;
    color: brown;
}


.add{
    padding: 20px;
    border-radius: 7px;
    color: brown;
    font-size: large;  
    font-weight: 700;
    box-shadow: 4px 4px 6px red;
    position: absolute;
    left: 1vw;
    top: 15vh;
}
.error{
    position: absolute;
    left: 15vw;
    top: 15vh;
}
.add:hover{
    background-color: brown;
    color: white;
    padding: 22px;
}

.book{
    width: 20vw;
    position: absolute;
    top: 20%;
    left: 45%;
    background-color: peachpuff;
    border-radius: 10px;
    opacity: 0;
    padding: 4rem;
    z-index: 4;
    overflow: hidden;
}

.book>label{
    display: block;
    margin: 4px;
    font-size: 2rem;
}

.book>input{
    border-radius: 4px;
    font-size: 1.5rem;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.add-book{
    display: block;
    padding: 10px;
    font-size: 2rem;
    margin-top: 10px;
    border-radius: 5px;
}



.add-book:hover{
    background-color: burlywood;
}

.details{
    position: absolute;
    top: 25vh;
    width: 15vw;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

